#btns {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    
    li {
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 20px 0;
        transition: .3s;
        cursor: pointer;

        &.on {
            height: 40px;
            background-color: #fff;
            border-radius: 5px;
        }
    }
}