#etc {
    width: 100%;
    height: 95vh;
    background-color: #050505;
    position: relative;
    z-index: 11;
    
    .contactWrap {
        width: 100%;
        height: 100%;

        h1 {
            position: sticky;
            top: 0;
            left: 0;
            font: 500 24px/1 'Roboto';
            color: #fff;
            text-align: center;
            width: 100%;
            padding: 20px 0;
            background-color: #050505;
            border-bottom: 1px solid #555;
            z-index: 11;
        }

        .inner {
            padding: 70px 0;
            width: 1180px;
            height: 70%;
            margin: 0 auto;
    
            h2 {
                font: 300 16px/1.2 "Roboto";
                color: rgba(255,255,255,0.7);
                text-align: center;
                margin-bottom: 50px;
            }
    
            #contactForm {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;

                input {
                    width: 100%;
                    border: 1px solid rgba(255,255,255,0.5);
                    background: transparent;
                    font: 300 16px/1.2 "SCoreDream";
                    color: #fff;
                    padding: 10px;
                    margin-bottom: 20px;
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    border: 1px solid rgba(255,255,255,0.5);
                    background: transparent;
                    font: 300 16px/1.2 "SCoreDream";
                    color: #fff;
                    padding: 7px 10px;
                    margin-bottom: 20px;
                    resize: none;
                }
            }

            .sendBtn {
                display: block;
                width: 150px;
                border: 1px solid rgba(255,255,255,0.5);
                background: transparent;
                font: 300 16px/1.2 "SCoreDream";
                color: #fff;
                padding: 7px 10px;
                margin-top: 15px;
                margin-left: auto;
                text-align: center;
                cursor: pointer;
                transition: .3s;
    
                &:hover {
                    background-color: #fff;
                    color: #050505;
                }
            }
        }
    
        .contact {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            border-top: 1px solid rgba(255,255,255,0.5);
    
            li {
                width: calc(100%/3);
                padding: 100px 20px 20px;
                color: rgba(255,255,255,0.7);
                border-bottom: 1px solid rgba(255,255,255,0.5);
                border-right: 1px solid rgba(255,255,255,0.5);
                border-left: 1px solid transparent;
                
                a {
                    color: rgba(255,255,255,0.7);
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #etc {
        .contactWrap {
            .inner {
                width: calc(100% - 100px);
        
                h2 {
                    font: 300 16px/1.2 "Roboto";
                    color: rgba(255,255,255,0.7);
                    text-align: center;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 786px) {
    #etc {
        height: 100%;
        .contactWrap {
            .inner {
                padding: 60px 0;
                height: 60%;
            }
            
            .contact {
                flex-direction: column;
        
                li {
                    width: 100%;
                }
            }
        }
    }
}