main {
    width: 100%;

    .inner {
        width: 1180px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    main {
        .inner {
            width: calc(100% - 80px);
        }
    }
}