@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");
@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #f1f1f1; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0; }
  header .inner {
    width: 1180px;
    margin: 0 auto; }
    header .inner h1 {
      text-align: center;
      font: 500 24px/1 'Roboto'; }
      header .inner h1 a {
        color: #fff; }

@media screen and (max-width: 1200px) {
  header .inner {
    width: calc(100% - 80px); } }
footer {
  width: 100%;
  padding: 20px 0; }
  footer .inner {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    footer .inner p {
      font: 300 14px/24px 'Roboto';
      color: #888; }
    footer .inner h1 {
      font: 500 24px/1 'Roboto'; }
      footer .inner h1 a {
        color: #fff; }

@media screen and (max-width: 1200px) {
  footer .inner {
    width: calc(100% - 80px); } }
main {
  width: 100%; }
  main .inner {
    width: 1180px;
    margin: 0 auto; }

@media screen and (max-width: 1200px) {
  main .inner {
    width: calc(100% - 80px); } }
#intro {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  overflow: hidden; }
  #intro .titleBox {
    width: 100%;
    margin-top: 150px; }
    #intro .titleBox h1 {
      display: flex;
      font: 180px/1 'Six Caps';
      color: #fff;
      justify-content: flex-start; }
      #intro .titleBox h1:nth-of-type(2) {
        justify-content: flex-end; }
  #intro .introBox {
    width: 550px;
    margin: 80px 0 0 auto;
    font: 300 15px/1.6 'SCoreDream';
    color: rgba(255, 255, 255, 0.7);
    word-break: keep-all; }
    #intro .introBox .hello {
      display: inline-block;
      margin-right: 3px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      cursor: pointer;
      transition: .5s; }
      #intro .introBox .hello .imgBox {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        opacity: 0;
        transform: translate(5px, 5px);
        transition: .3s;
        overflow: hidden; }
        #intro .introBox .hello .imgBox img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1.7); }
      #intro .introBox .hello:hover {
        border-bottom: 1px solid white;
        color: white; }
        #intro .introBox .hello:hover .imgBox {
          opacity: 1; }

@media screen and (max-width: 1200px) {
  #intro .titleBox h1 {
    font: 150px/1 'Six Caps'; } }
@media screen and (max-width: 879px) {
  #intro {
    position: relative; }
    #intro .titleBox {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #intro .titleBox h1 {
        font: 120px/1 'Six Caps'; }
    #intro .introBox {
      position: absolute;
      bottom: 100px;
      right: 0px;
      width: 500px;
      font: 300 14px/1.6 'SCoreDream'; }
      #intro .introBox:hover .imgBox {
        opacity: 0;
        top: -999999px; } }
@media screen and (max-width: 648px) {
  #intro .titleBox h1 {
    font: 80px/1 'Six Caps'; }
  #intro .introBox {
    width: 100%;
    bottom: 50px; } }
@media screen and (max-width: 468px) {
  #intro .titleBox h1 {
    font: 60px/1 'Six Caps'; } }
@media screen and (max-width: 376px) {
  #intro .titleBox h1 {
    font: 48px/1 'Six Caps'; }
  #intro .introBox {
    font: 300 13px/1.6 'SCoreDream'; } }
#projects {
  padding: 150px 0; }
  #projects h1 {
    font: 400 24px/2.5 "Roboto";
    color: #fff;
    text-align: center; }
  #projects .list {
    width: 100%;
    height: 450px;
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #projects .list .pic {
      width: 50%;
      height: 100%;
      opacity: 0.7;
      cursor: pointer;
      transition: 1s; }
      #projects .list .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transition: 3s .5s; }
      #projects .list .pic:hover {
        opacity: 1; }
        #projects .list .pic:hover img {
          object-position: bottom; }
    #projects .list .txt {
      width: 50%;
      height: 100%;
      padding: 0px 30px;
      word-break: keep-all;
      position: relative; }
      #projects .list .txt h2 {
        font: 400 18px/1.2 "SCoreDream";
        color: #fff;
        margin-bottom: 20px; }
      #projects .list .txt p {
        font: 300 13px/1.6 "SCoreDream";
        color: rgba(255, 255, 255, 0.8); }
      #projects .list .txt .skill {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 30px 0; }
        #projects .list .txt .skill li {
          font: 300 14px/1 "Roboto";
          color: rgba(214, 113, 45, 0.8);
          margin-right: 15px; }
      #projects .list .txt .link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom: 0px;
        left: 30px; }
        #projects .list .txt .link li {
          margin-right: 15px;
          padding: 5px 10px;
          border: 1px solid rgba(255, 255, 255, 0.8);
          transition: .3s; }
          #projects .list .txt .link li a {
            font: 300 14px/1 "Roboto";
            color: rgba(255, 255, 255, 0.8);
            transition: .3s; }
          #projects .list .txt .link li:hover {
            border: 1px solid white;
            background-color: #fff; }
            #projects .list .txt .link li:hover a {
              color: #050505; }

@media screen and (max-width: 879px) {
  #projects .list .pic {
    width: 100%;
    height: 50%; }
  #projects .list .txt {
    width: 100%;
    height: 50%;
    padding: 30px 0px; }
    #projects .list .txt .skill {
      margin: 20px 0; }
    #projects .list .txt .link {
      position: relative;
      left: 0px; } }
#etc {
  width: 100%;
  padding: 0 0 150px; }
  #etc h1 {
    font: 400 24px/2.5 "Roboto";
    color: #fff;
    text-align: center; }
  #etc .inner {
    width: 100%; }
    #etc .inner h2 {
      font: 300 16px/1.2 "Roboto";
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      margin-bottom: 40px; }
    #etc .inner #contactForm {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative; }
      #etc .inner #contactForm .left {
        width: 49%;
        display: flex;
        flex-wrap: wrap; }
        #etc .inner #contactForm .left input {
          width: 100%;
          border: 1px solid rgba(255, 255, 255, 0.5);
          background: transparent;
          font: 300 16px/1.2 "SCoreDream";
          color: #fff;
          padding: 7px 10px;
          margin-bottom: 15px; }
          #etc .inner #contactForm .left input:last-child {
            margin-bottom: 0; }
      #etc .inner #contactForm .right {
        width: 49%; }
        #etc .inner #contactForm .right textarea {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(255, 255, 255, 0.5);
          background: transparent;
          font: 300 16px/1.2 "SCoreDream";
          color: #fff;
          padding: 7px 10px;
          margin-bottom: 15px;
          resize: none; }
    #etc .inner .sendBtn {
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: transparent;
      font: 300 16px/1.2 "SCoreDream";
      color: #fff;
      padding: 7px 10px;
      margin-top: 15px;
      cursor: pointer;
      transition: .3s; }
      #etc .inner .sendBtn:hover {
        background-color: #fff;
        color: #050505; }
  #etc .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
    #etc .contact li {
      list-style: inside;
      width: calc(100%/3);
      color: rgba(255, 255, 255, 0.7);
      text-align: center; }
      #etc .contact li a {
        color: rgba(255, 255, 255, 0.7); }

@media screen and (max-width: 879px) {
  #etc .inner #contactForm {
    flex-wrap: wrap;
    flex-direction: column; }
    #etc .inner #contactForm .left {
      width: 100%;
      margin-bottom: 15px; }
    #etc .inner #contactForm .right {
      width: 100%; }
      #etc .inner #contactForm .right textarea {
        margin-bottom: 0; }
  #etc .contact {
    flex-direction: column; }
    #etc .contact li {
      width: 100%;
      text-align: left;
      font: 300 14px/1.2 'Roboto';
      margin-bottom: 10px; } }
body {
  background: #050505; }

/*# sourceMappingURL=style.css.map */
